<system.net>
    <mailSettings>
        <smtp from="InoaB3">
            <network SmtpServer="smtp.maileroo.com"
                SmtpPort="587"
                SmtpUserName="julia.antiqueira1995@gmail.com"
                SmtpPassword="juliaantiqueira1995@"
                Timeout = 60*60
                UseDefaultCredentials = false
                enableSsl="true"
            />
		</smtp>
	</mailSettings>
</system.net>